.img {
  width: "100%";
  max-width: "286px";
  max-height: "161px";
  margin-bottom: "20px";
  margin-right: "auto";
  margin-left: "auto";
}
.card {
  gap: 4px;
}
.children {
  text-decoration: none;
  color: inherit;
  background: rgb(222, 222, 222) !important;
}
.children:hover {
  border: none;
  background: red;
  color: #000000;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
@media only screen and (max-width: 575px) {
  .children {
    border-style:outset  !important ;
    border-color:rgb(222, 222, 222) !important ;
    color:black !important;
    border-color:rgb(222, 222, 222) !important;
    background-color:rgb(222, 222, 222) !important;;
  }
  .children:hover{
    color:black !important;
    border-color:rgb(222, 222, 222) !important;;
    background-color:rgb(222, 222, 222) !important;;
    transition: all 500ms ease !important;
  }
}
