.paragraph{
    text-align: center;
    direction: rtl;
    margin-top: 25px;
    font-size: large;
}
.paragraph2{
    direction: rtl;
    margin-top: 25px;
    font-size: large;
}
.title{
    text-align: center;
    font-weight: bolder;
    direction: rtl;
    margin-top: 25px;
    font-size:35px; 
}
.title2{
    color:white;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.main{
    color:white;
    direction: rtl;
}