.animation:hover {
  border: none;
  background: #fff;
  color: black;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
.animation {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: fit-content;
}
.animation2 {
  /* padding:10px; */
  border-radius: 5px;
  background-color: rgb(222, 222, 222);
  display: flex;
}
.aks {
  width: 45vw;
}
.icon {
  color: red;
  text-align: center;
  border-radius: 50%;
}
.para {
  color: black;
  direction: rtl;
  font-size: 15px;
}
.matn {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px;
}
.padding2 {
  padding: 0px 0px;
  height: 100px;
  width: max-content;
  height: max-content;
  margin-top: -10px;
}
.img {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 975px) {
  .padding {
    padding: 130px 180px !important;
  }
  .padding2 {
    padding: 20px 20px !important;
  }
}
@media only screen and (max-width: 1368px) {
  @media only screen and (max-height: 912px) {
    .padding {
      padding: 1px 120px !important;
    }
    .swip {
      height: 60% !important;
    }
    .swip2 {
      height: 72% !important;
    }
  }
}
@media only screen and (max-width: 1280px) {
  @media only screen and (max-height: 800px) {
    .padding {
      padding: 1px 120px !important;
    }
    .swip {
      height: 76% !important;
    }
    .swip2 {
      height: 68% !important;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .padding {
    padding: 1px 120px !important;
  }
  .swip {
    height: 77% !important;
  }
}
@media only screen and (max-width: 1180px) {
  .padding {
    padding: 1px 120px !important;
  }
  .swip {
    height: 74% !important;
  }
  .swip2 {
    height: 64% !important;
  }
}
@media only screen and (min-width: 1024px) {
  @media only screen and (max-height:600px) {
    .swip2 {
      height: 65% !important;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .padding {
    padding: 0px 120px !important;
  }
  .swip {
    height: 74% !important;
  }
}
@media only screen and (max-width: 915px) {
  .padding {
    padding: 0px 120px !important;
  }
  .swip {
    height: 74% !important;
  }
}
@media only screen and (max-width: 896px) {
  .padding {
    padding: 18px 115px !important;
  }
  .swip {
    height: 75% !important;
  }
}
@media only screen and (max-width: 896px) {
    @media only screen and (max-height: 414px) {
      .padding {
        padding: 1px 120px !important;
      }
      .swip {
        height: 75% !important;
      }
    }
  }
@media only screen and (max-width: 851px) {
  .padding {
    padding: 1px 85px !important;
  }
  .swip {
    height: 77% !important;
  }
} 
@media only screen and (max-width: 821px) {
  @media only screen and (max-height: 1180px) {
    .swip2 {
      height: 70% !important;
    }
  }
}
@media only screen and (max-width: 812px) {
  @media only screen and (max-height: 375px) {
    .swip2 {
      height: 57% !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  @media only screen and (max-height: 1024px) {
    .swip2 {
      height: 59% !important;
    }
  }
}
@media only screen and (max-width: 667px) {
  .padding {
    padding: 0px 38px !important;
  }
  .swip {
    height: 74%;
  }
}
@media only screen and (max-width: 568px) {
    @media only screen and (max-height: 320px) {
      .padding {
        padding: 1px 120px !important;
      }
      .swip {
        height: 75% !important;
      }
    }
  }
@media only screen and (max-width: 540px) {
  @media only screen and (max-height: 720px) {
    .padding {
      padding: 1px 120px !important;
    }
    .swip {
      height: 70% !important;
    }
  }
}
@media only screen and (max-width: 414px) {
  .padding {
    padding: 35px 41px !important;
  }
  .swip {
    height: 75% !important;
  }
  .swip2{
    height: 56% !important;
  }
}
@media only screen and (max-width: 375px) {
  .padding {
    padding: 4px 40px !important;
  }
  .swip {
    height: 75% !important;
  }
  .swip2{
    height: 53% !important;
  }
}
@media only screen and (max-width: 360px) {
  .padding {
    padding: 36px 40px !important;
  }
  .swip {
    height: 77% !important;
  }
  .swip2{
    height: 52% !important;
  }
}
@media only screen and (max-width: 320px) {
  .padding {
    padding: 36px 40px !important;
  }
  .swip {
    height: 77% !important;
  }
  .swip2{
    height: 51%;
  }
}
@media only screen and (max-width: 280px) {
  .padding {
    padding: 4px 40px !important;
  }
  .swip {
    height: 76% !important;
  }
}
@media only screen and (max-width: 750px) {
  .animation2 {
    flex-direction: column;
  }
  .matn {
    margin-right: 0px !important;
  }
  .aks {
    width: 60vw;
  }
}
